.__btn {
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  column-gap: 10px !important;
  width: 189px !important;
  height: 48px !important;
  background-color: #FDF9EE !important;
  color: #433D41 !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  border: none !important;
  cursor: pointer !important;
}

.__bottom_right {
  right: 1px !important;
  bottom: 3px !important;
 }

.__bottom_left {
  left: 1px !important;
  bottom: 3px !important;
 }

 .__center_right {
  right: 5px !important;
  bottom: 350px !important;
  transform: rotate(90deg) !important;
  transform-origin: 87px 105px !important;
 }

.__center_left {
  left: 5px !important;
  bottom: 350px !important;
  transform: rotate(90deg) !important;
  transform-origin: 5px 40px !important;
 }

.__btn:active, .__btn:focus {
  outline: 1px solid #300226 !important;
}

.__btn svg {
  width: 24px !important;
  height: 24px !important;
}