.__btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  column-gap: 10px !important;
  width: 189px !important;
  height: 48px !important;
  background-color: #FDF9EE !important;
  color: #433D41 !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  border: none !important;
  cursor: pointer !important;
  z-index: 1100 !important;
}

.__btn:active, .__btn:focus {
  outline: 1px solid #300226 !important;
}

.__btn svg {
  width: 24px !important;
  height: 24px !important;
}