.__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 189px;
  height: 48px;
  background-color: #FDF9EE;
  color: #433D41;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.__btn:active, .__btn:focus {
  outline: 1px solid #300226;
}

.__btn svg {
  width: 24px;
  height: 24px;
}