.__box {
  position: relative !important;
  width: 351px !important;
  height: auto !important;
  max-height: 90vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: thin !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  background: #fff !important;
  box-shadow: 0 2px 4px 0 rgb(17 22 26 / 16%), 0 0 4px 0 rgb(17 22 26 / 8%), 0 4px 8px 0 rgb(17 22 26 / 4%);
  z-index: 1100 !important;
  padding: 24px 0 !important;
}

.__box::-webkit-scrollbar {
  width: 0.3em !important;
}

.__box::-webkit-scrollbar-thumb {
  background-color: #c1c1c1 !important;
  border-radius: 10px !important;
}

.__box::-webkit-scrollbar-track {
  box-shadow: none !important;
}

.__box_btn {
  border: none !important;
  position: absolute !important;
  right: 0 !important;
  top: -28px !important;
  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #fff !important;
  cursor: pointer !important;
  z-index: 1000000000000 !important;
  box-shadow: 0 2px 4px 0 rgb(17 22 26 / 16%), 0 0 4px 0 rgb(17 22 26 / 8%), 0 4px 8px 0 rgb(17 22 26 / 4%);
}

.__box_btn:active, .__box_btn:focus {
  outline: 1px solid #433D41 !important;
}

.__box_btn svg {
  width: 14px !important;
height: 14px !important;
}

.__box_title {
  width: 100% !important;
  padding-bottom: 16px !important;
  margin: 0 16px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-bottom: 0.83px solid #aa9ea63d !important;
}

.__box_title h5 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    font-family: 'Punta', sans-serif !important;
    color: var(--brand-pink) !important;
}

.__box_spire {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  row-gap: 8px !important;  
}

.__box_spire svg {
  width: 28px !important;
  height: 8px !important;
}

.__box_spire_text {
  font-weight: 400 !important;
  font-size: 9.96961px !important;
  line-height: 15px !important;
  color: #433D41 !important;  
}

.__box_spire_text a {
  color: #300226 !important;
  text-decoration: underline !important;
  text-decoration-color: #300226 !important;
}