.__box {
  position: relative;
  width: 351px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  
  z-index: 1100;
  padding: 24px 0;
}

.__box::-webkit-scrollbar {
  width: 0.3em;
}

.__box::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.__box::-webkit-scrollbar-track {
  box-shadow: none;
}

.__box_btn {
  border: none;
  position: absolute;
  top: 0;
  left: -24px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  z-index: 20000;
}

.__box_btn:active, .__box_btn:focus {
  outline: 1px solid #433D41;
}

.__box_btn svg {
  width: 14px;
height: 14px;
}

.__box_title {
  width: 100%;
  padding-bottom: 16px;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.83px solid #aa9ea63d;
}

.__box_title h5 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Punta', sans-serif;
    color: var(--brand-pink);
}

.__box_spire {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;  
}

.__box_spire svg {
  width: 28px;
  height: 8px;
}

.__box_spire_text {
  font-weight: 400;
  font-size: 9.96961px;
  line-height: 15px;
  color: #433D41;  
}

.__box_spire_text a {
  color: #300226;
  text-decoration: underline;
  text-decoration-color: #300226;
}

@media screen and (max-width: 700px) {
  .__box_btn {
    right: 0;
    left: 94%;
    top: -24px;
  }
}