.__formcontrol {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}

.__label {
  font-size: var(--brand-text-dark); 
  font-weight: 400;
  font-size: 13.9317px;
  line-height: 21px;   
}

.__label span {
  font-size: 10.4488px;
  line-height: 16px;  
}

.__label span span {
  color: red; 
}

.__input, .__textarea {
  width: 100%;
  height: 48px;
  border: 0.869986px solid #62535D;
  background: #fff;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 13.9198px;
  line-height: 21px;
  color: #7A7279;  
  outline: none;
  padding: 15px 14px;
}

.__input:focus, 
.__input:active {
  border: 0.869986px solid #F5A623;
  outline: none;
}

.__textarea {
  height: 100px;
}

.__textarea:focus, 
.__texarea:active {
  border: 0.869986px solid #F5A623;
  outline: none;
}

.__input.__error, .__textarea.__error {
  border: 0.869986px solid red;
}

.__error {
  font-size: 14px;
  color: red;
}

.__submitbtn {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5A623;
  padding: 14px 16px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--brand-text-dark);      
}