.__formcontrol {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  row-gap: 8px !important;
}

.__label {
  font-size: var(--brand-text-dark) !important; 
  font-weight: 400 !important;
  font-size: 13.9317px !important;
  line-height: 21px !important;   
}

.__label span {
  font-size: 10.4488px !important;
  line-height: 16px !important;  
}

.__label span span {
  color: red !important; 
}

.__input, .__textarea {
  width: 100% !important;
  height: 48px !important;
  border: 0.869986px solid #62535D !important;
  background: #fff !important;
  font-family: 'Satoshi', sans-serif !important;
  font-weight: 400 !important;
  font-size: 13.9198px !important;
  line-height: 21px !important;
  color: #7A7279 !important;  
  outline: none !important;
  padding: 15px 14px !important;
}

.__input:focus, 
.__input:active {
  border: 0.869986px solid #F5A623 !important;
  outline: none !important;
}

.__textarea {
  height: 100px !important;
}

.__textarea:focus, 
.__texarea:active {
  border: 0.869986px solid #F5A623 !important;
  outline: none !important;
}

.__input.__error, .__textarea.__error {
  border: 0.869986px solid red !important;
}

.__error {
  font-size: 14px !important;
  color: red !important;
}

.__submitbtn {
  width: 100% !important;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: #F5A623 !important;
  padding: 14px 16px !important;
  height: 48px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: var(--brand-text-dark) !important;      
  cursor: pointer !important;
}

.__submitbtn svg {
  width: 30px !important;
  height: 30px !important;
}