/* Reset styles */

@font-face {
  font-family: 'Punta';
  src:  url('https://res.cloudinary.com/spire-tech/raw/upload/v1641654538/fonts/punta_font/Punta_-_Light_djfcdz.otf') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Punta';
  src:  url("https://res.cloudinary.com/spire-tech/raw/upload/v1646790142/fonts/satoshi_font/punta_regular-webfont_jbqtfz.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src:  url('https://res.cloudinary.com/spire-tech/raw/upload/v1641654156/fonts/satoshi_font/Satoshi-Variable_t1ou5n.woff2') format('woff2'),
  url("https://res.cloudinary.com/spire-tech/raw/upload/v1641654155/fonts/satoshi_font/Satoshi-Variable_ncsjrw.woff") format("woff");
}

.__feedjet * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Satoshi', sans-serif !important;
  --brand-pink: #300226 !important;
}


.__feedjet {
  position: fixed !important;
  bottom: 8px !important;
  right: 8px !important;
  display: flex !important;
  width: auto !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  row-gap: 16px !important;
 }
 
 .__feedjet_overlay {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   width: 100% !important;
   height: 100vh !important;
   z-index: 1000 !important;
   background: rgba(0, 0, 0, 0.46) !important;  
   overflow-y: auto !important;
 }
 